header.masthead#home {
    background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(141, 153, 174, 0)),
    url("../../img/stockPhotos/home.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

#news {
    background-color: #000000;
    color: white;
}

#2020 {
    background-color: #1984B3;
}