header.masthead#home {
    background-image: url("../../img/header-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.marginBtm {
    margin-bottom: 5em
}

#news {
    background-color: #000000;
    color: white;
}

#2020 {
    background-color: #1984B3;
}