header.masthead#human_practice {
    background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(141, 153, 174, 0)),
    url("../../img/stockPhotos/hp.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}