header.masthead#past_projects_header {
    text-align: center;
    color: white;
    background-color: black;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
