header.masthead#team {
    background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(141, 153, 174, 0)),
    url("../../img/stockPhotos/team2.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}


.rotate180 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
}