<!-- Services -->
<section class="page-section bg-light" id="2020">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">HEAVY METAL!</h1>
                <h3 class="section-subheading"></h3>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">OUR PROJECT</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    As part of the iGEM-2020 competition, we decided to genetically modify an E. Coli strain so that it
                    can act as a biosensor for heavy metals. We are working on inserting the reporter gene for a red
                    fluorescent protein in E. Coli, which is expressed as soon as the bacteria are exposed to heavy
                    metals. We use riboswitches as heavy metal binding sites that mediate the expression of the reporter
                    gene. Riboswitches are RNA sections of the 5 ́-UTR which, depending on the binding of ligands,
                    regulate the transcription of a gene or translation of a mrna. The experimental approaches are not
                    yet particularly mature in connection with riboswitches that bind heavy metals, so we hope that our
                    project will contribute to current research and provide a platform for further approaches.
                </div>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-5">
                <img class="img-fluid d-block mx-auto" src="static/img/heavy_metal.png" alt="">
            </div>
            <div class="col-lg-7 text-center">
                <h3 class="section-heading text-uppercase">WHY HEAVY METALS?</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    Not only in emerging and developing countries, but also in the industrialized countries, the
                    consequences of human influence on the environment can be felt directly. This is evidenced by
                    increased levels of organic pollutants and increased concentrations of heavy metals in the air and
                    in water, some of which even exceed the permissible limit values [1]. This poses a significant
                    health problem, with an estimated 8 million people in emerging and developing countries dying from
                    the effects of heavy metal poisoning in 2012 [2]. These numbers illustrate the need for safe
                    disposal of heavy metals, the basis of which is their reliable identification.
                </div>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">WHY BIOSENSORS?</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    The conventional analytical methods for the detection of heavy metals work very specifically and are
                    very sensitive. However, the often highly complex devices required for this are very expensive to
                    purchase and maintain and require experienced personnel in handling and evaluating the results. This
                    severely limits the handling of these devices in developing countries.
                    Biosensors provide an alternative approach. Basically, this is a sensor that is equipped with
                    biological components. The main advantages of biosensors are that they are inexpensive to
                    manufacture and much easier to use. A relatively high level of sensitivity has already been
                    demonstrated with various biosensors [3]. These properties predestine biosensors for future use in
                    structurally weak regions.
                </div>
            </div>
        </div>
    </div>
</section>
