<!-- Services -->
<section class="page-section bg-light" id="2020">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">Project 2020</h1>
                <h3 class="section-subheading">Heavy Metal Biosensing</h3>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Heavy Metal Pollution</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    Heavy metal ion pollution in the environment has raised significant concerns for soil, plants and
                    animals. Naturally occurring heavy ions such as Manganese, Nickel, Copper, Chromium, and Zinc are
                    crucial in trace amounts, but have a hazardous impact when found in excess deposition.
                </div>
                <div class="row text-center">
                    An increase in environmental heavy metal ions is currently promoted through various ways such as
                    wind/soil erosion, chemical manufacturing industries, fertilizers, fossil fuels and natural ores.
                    Marine life is immensely harmed by continuous discard of sewage, industrial and farming waste into
                    oceans, causing bioaccumulation of heavy metals in animals further up the food chain, among them
                    humans.
                </div>
                <div class="row text-center">
                    This poses a significant health problem, with an estimated 8 million people in emerging and
                    developing countries dying from the effects of heavy metal poisoning in 2012. These numbers
                    illustrate the need for safe disposal of heavy metals, the basis of which is their reliable
                    identification.
                </div>
                <h3 class="section-subheading">Example: Manganese</h3>

                <div class="row text-center">
                    In plants, excess Manganese (Mn2+) prevents the uptake of essential ions disturbing biochemical
                    processes, while in the human body, Mn may cause Parkinson-like illnesses.
                    This issue can be exacerbated by climate change. An increase in groundwater and soil temperature
                    disbalances variables like Mn2+ and DOC (dissolved organic carbon) which has major impacts on
                    drinking water quality through microbial contamination and Mn deposition in water distribution
                    systems. This effect was observed in reservations surrounding Tübingen, making us aware of this
                    issue.
                </div>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Our Solution</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    As part of the iGEM-2020 competition, we decided to genetically modify an E. Coli strain so that it
                    can act as a biosensor for heavy metals. We plan on using riboswitches for their detection and
                    phytochelatins for absorption and clearance.
                </div>
                <div class="row text-center">
                    Riboswitches are regulatory sections in the mRNA (messenger RNA) and alter its translation upon
                    binding to specific molecules, in our case a heavy-metal ion. The riboswitch is combined with a QPI
                    (Quad-Part Inverter) and a fluorescent protein on a plasmid incorporated in E. coli. The QPI
                    consists of a ribosome binding site, a coding region for a constitutively expressed repressor, a
                    terminator and a repressor-specific promoter. When activated, the riboswitch prevents translation of
                    the repressor and the promoter is released. Accordingly, the fluorescent protein is expressed and
                    the detection of the target molecule is easily possible. Ideally, the intensity corresponds to the
                    heavy metal concentration in the sample.
                </div>
                <div class="col-lg-12 text-center">
                    <div class="marginBtmSmall">
                        <img class="center img-fluid d-block mx-auto" src="/static/img/2020/fig1.png" alt="Figure 1">
                        <i>Figure 1: Schematic description of the heavy metal riboswitch sensor system. Left: target
                            molecule is present, right: target molecule is absent.</i>
                    </div>
                </div>
                <div class="row text-center">
                    While the first heavy metal ion we want to detect is Mn2+, the final idea is to create a system
                    where multiple heavy metals can be detected at once by connecting different fluorescent colors to
                    the riboswitches.
                </div>
                <div class="row text-center">
                    To enable the simultaneous clearance of water from heavy metals, improving the environmental
                    situation, metal-binding phytochelatins could be added to the riboswitch construct to also be
                    translated if the target ion is present.
                </div>
                <div class="row text-center">
                    As this outlook implies the in-field application and the release of the genetically engineered
                    bacteria into the treatment plant system, a biosafety construct must be implemented prior to its
                    use. Accordingly, we plan on utilizing an inducible kill-switch compliant with the biosafety values
                    of the iGEM competition.
                </div>
            </div>
        </div>

        <!-- TODO which description will we take ? -->
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">OUR PROJECT</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    As part of the iGEM-2020 competition, we decided to genetically modify an E. Coli strain so that it
                    can act as a biosensor for heavy metals. We are working on inserting the reporter gene for a red
                    fluorescent protein in E. Coli, which is expressed as soon as the bacteria are exposed to heavy
                    metals. We use riboswitches as heavy metal binding sites that mediate the expression of the reporter
                    gene. Riboswitches are RNA sections of the 5 ́-UTR which, depending on the binding of ligands,
                    regulate the transcription of a gene or translation of a mrna. The experimental approaches are not
                    yet particularly mature in connection with riboswitches that bind heavy metals, so we hope that our
                    project will contribute to current research and provide a platform for further approaches.
                </div>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-5">
                <img class="img-fluid d-block mx-auto" src="static/img/heavy_metal.png" alt="">
            </div>
            <div class="col-lg-7 text-center">
                <h3 class="section-heading text-uppercase">WHY HEAVY METALS?</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    Not only in emerging and developing countries, but also in the industrialized countries, the
                    consequences of human influence on the environment can be felt directly. This is evidenced by
                    increased levels of organic pollutants and increased concentrations of heavy metals in the air and
                    in water, some of which even exceed the permissible limit values [1]. This poses a significant
                    health problem, with an estimated 8 million people in emerging and developing countries dying from
                    the effects of heavy metal poisoning in 2012 [2]. These numbers illustrate the need for safe
                    disposal of heavy metals, the basis of which is their reliable identification.
                </div>
            </div>
        </div>
        <div class="row marginBtm">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">WHY BIOSENSORS?</h3>
                <h3 class="section-subheading"></h3>
                <div class="row text-center">
                    The conventional analytical methods for the detection of heavy metals work very specifically and are
                    very sensitive. However, the often highly complex devices required for this are very expensive to
                    purchase and maintain and require experienced personnel in handling and evaluating the results. This
                    severely limits the handling of these devices in developing countries.
                    Biosensors provide an alternative approach. Basically, this is a sensor that is equipped with
                    biological components. The main advantages of biosensors are that they are inexpensive to
                    manufacture and much easier to use. A relatively high level of sensitivity has already been
                    demonstrated with various biosensors [3]. These properties predestine biosensors for future use in
                    structurally weak regions.
                </div>
            </div>
        </div>
    </div>
</section>
