<!-- Footer TODO add links to our twitter, facbook and instafeed-->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <li class="list-inline-item">
                    <span class="copyright"> &copy; iGEM Tübingen All rights reserved.</span></li>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/igemtuebingen?lang=de">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://de-de.facebook.com/igemtuebingen/">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/igem_tuebingen/?hl=de">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="{{ url_for('impressum') }}">Impressum</a>
                    </li>
                    <!--                    #TODO hide this on engl mode-->
                    <li class="list-inline-item">
                        <a href="{{ url_for('dsgvo') }}">DSGVO</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
