<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ _('Read about how to get involved as a researcher or in the role of a sponsor.') }} Welcome To iGEM Tübingen</div>
            <div class="intro-heading text-uppercase">If I were an enzyme I´d be DNA helicase so I could unzip your genes ;)</div>

            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>

        </div>
    </div>
</header>