<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{url_for('home')}}">iGEM Tübingen</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{url_for('home')}}#2020">Project 2020</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" href="{{url_for('past_projects', year=2020)}}">Past
                            Projects</a>
                        <div class="nav-item dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2019)}}">2019</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2018)}}">2018</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2017)}}">2017</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2016)}}">2016</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2015)}}">2015</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2014)}}">2014</a>
                            <a class="nav-link js-scroll-trigger"
                               href="{{url_for('past_projects', year=2013)}}">2012/13</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{url_for('team')}}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{url_for('human_practice')}}">Human Practice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{url_for('sponsor')}}">{{ _('Sponsors') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{url_for('contact')}}">{{ _('Contact') }}</a>
                </li>
                <!-- TODO repair and insert this then time (never)
                <li class="nav-item">
                    <div id="language" height="0.5em">
                        {% set redirectUrl=redirect %}
                        {% if CURRENT_LANGUAGE == 'en' %}
                        <a href="{{ url_for('set_language', language='de', redirectUrl=redirectUrl) }}">
                            <img class="languages"
                                 src="{{ url_for('static', filename='/img/subsite_icons/de_flag.png') }}">
                        </a>
                        {% else %}
                        <a href="{{ url_for('set_language', language='en', redirectUrl=redirectUrl) }}">
                            <img class="languages"
                                 src="{{ url_for('static', filename='/img/subsite_icons/uk_flag.png') }}">
                        </a>
                        {% endif %}
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>