<div class="row">
    <h1 class="section-heading text-uppercase">iGEM Project 2012/13: Development of a new antibiotic Test System
    </h1>
    <h3 class="section-subheading">Introduction</h3>
    <div class="row text-center">
        Team iGEM Tübingen 2012/13 has developed a yeast-based sensor for progestin, a pollutant in wastewater which
        causes hormonal disbalance in fish. If progestin is detected within a sample, luciferin expression is induced in
        yeast cells via the activation of the luciferin promoter through a G-protein coupled cascade. Accordingly, the
        presence of progestin is determined and may be analysed quantitatively via a spectrometer.
    </div>
</div>
