<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Introduction</h1>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 text-center">
            Donor blood is a really rare resource - not only in hospitals in countries with weak medical infrastructure
            or in crisis regions after natural disasters but also in ordinary Central European hospitals. Due to the
            fact that humans have at least four different blood groups (Fig.1) and two different Rhesus factors - all
            antigens on erythrocytes - you cannot simply transfuse any blood you want to any random patient. Thus,
            hospitals do need to always keep an eye on their stocks lest they they are hit by shortages.
        </div>
        <div class="marginBtm">
            <img class="center img-fluid d-block mx-auto" src="/static/img/2014/fig1.png" alt="Figure 1">
            <i>Figure 1: ABO blood type system. Oligosaccharide structures on red blood cells act as antigens. Based on
                the oligosaccharide of group O, group A contains an additional N acetyl-galactosamine and group B has an
                additional Galactose attached to it. Red blood cells from group AB carry both types of oligosaccharides.
            </i>
        </div>
        <div class="col-lg-12 text-center">
            Therefore, this project was about creating a practical and easy to use system for the enzymatic conversion
            of blood types - from blood types A, B and AB to O. Blood type O consists of erythrocytes that do not show
            any blood type antigens thus can be transferred to any patient and is usually used as emergency donor blood
            for exactly this reason.
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Conversion Set-Up</h1>
    </div>
    <div class="row marginBtm text-center">
        <div class="col-lg-12 text-center">
            We planned to use a matrix covered with immobilized enzymes. The three bacterial glycosidases cleave of
            characteristic structures of the A and B antigen, thereby generating the H antigen which is present in blood
            type 0.
            We choose the following enzymes N-acetylgalactosaminidase (NAGA) from Elizabethkingia meningoseptica to
            convert type A to O, α-Galactosidase (αGAL) from Bacteriodes fragilis to convert type B to O [3]. To convert
            type AB to O one could apply both enzymes or another enzyme we used Endo-β- galactosidase (EABase) from
            Clostridium perfringens.
            To convert a blood preservation, it is only necessary to apply the preservation onto the column with the
            immobilized enzymes (Fig.2). The process of conversion can therefore get highly automatized.

            <br>
            <div class="marginBtm">
                <img class="center img-fluid d-block mx-auto" src="/static/img/2017/fig2.png" alt="Figure 2">
                <i>Figure 2: Schematic "workflow" of the application of T-ECO. By converting donor blood of type A or B
                    to O via the activity of our enzymes (e.g. EABase) the relatively quick creation of emergeny donor
                    blood is possible. This emergency donor blood of type O can then be transfused to patients in order
                    to save lifes.</i>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Outlook: Charakterisation Strategies</h1>
    </div>
    <div class="row marginBtm text-center">
        <div class="col-lg-12 text-center">
            Do our fusion proteins show glycosidase activity (enzyme and substrate in solution)?
            To prove that the fusion proteins consisting of glycosidase domain and immobilization-tag are properly
            folded and show enzyme activity, we would use soluble polysaccharides mimicking the blood antigens present
            on the erythrocyte surface. There are several techniques on hand to monitor the cleavage of these substrates
            and the formation of the corresponding monosaccharides (galactose and/or N-acetylgalactosamine) e.g.
            thin-layer chromatography, high-performance liquid chromatography or NMR.
            Can we efficiently convert erythrocytes to type O (enzyme in solution, substrate on solid phase)?
            Isolated oligosaccharides can only serve as a rough model. With red blood cells thought as solid particles,
            we have to consider that the diffusion of our substrates (the oligosaccharide on the cell surface) is
            limited. Additionally, other biomolecules on the cell surface might inhibit the reaction. A first
            oossibility to monitor the conversion of red blood cells to blood group 0 is to do cross-matching to observe
            whether our converted erythrocytes show hemagglutination if they are mixed with blood of the group 0. A
            second idea would be fluorescently labelled monoclonal antibodies against the blood antigens, which can be
            used to analyse the erythrocytes in FACS-analysis.
            Do our enzymes retain activity upon immobilization (enzyme on solid phase, substrate in solution)?
            The loading of the matrix with our peptides can be roughly estimated by the fluorescence of the
            carboxyfluorescein coupled to the peptides. We plan to quantify the binding of the fusion proteins to the
            matrix by comparing the protein concentration in solution before and after incubation with the beads. At
            this step we can demonstrate the functionality of our immobilization domain with a glycosidase assay using
            isolated oligosaccharides as detailed above. By normalizing the activity to the amount of bound protein and
            comparison with the enzyme in solution we can investigate whether immobilization has any impact on enzyme
            activity.
        </div>
    </div>
</div>

