<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="section-heading">Introduction</h3>
    </div>
    <div class="col-lg-12 text-left">
        Team iGEM Tübingen 2012/13 has developed a yeast-based sensor for progestin, a pollutant in wastewater which
        causes hormonal disbalance in fish. If progestin is detected within a sample, luciferin expression is induced in
        yeast cells via the activation of the luciferin promoter through a G-protein coupled cascade. Accordingly, the
        presence of progestin is determined and may be analysed quantitatively via a spectrometer.
    </div>
</div>
