<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Introduction</h1>
    </div>
    <div class="row text-center" style="margin-bottom: 0.2em">
        <div class="col-lg-12 text-center">
            <div class="marginBtm">
                In order to characterize our new antibiotic we wanted to answer three questions:
            </div>
            <ul>
                <li>Is our substance active against bacteria and ideally against MRSA?</li>
                <li>What is the mode of action behind the antibiotic effect?</li>
                <li>Will it be active against Gyrase inhibitor resistant S.aureus?</li>
            </ul>

            The first question can be easily examined by performing agar-diffusion assays with different bacteria. To
            avoid using MRSA we decided to clone the resistance providing genes into E.coli. This was accomplished by
            cloning SHV-1 into a vector with a L-rhamnose inducible promoter. The second question is harder to answer.
            Clorobiocin acts by inhibiting the ATP binding to Gyrase B. As this will most probably be also the mode of
            action of our new antibiotic, we cloned an aminocoumarin resistant GyrB variant from E.coli into vectors for
            inducible expression to use in agar-diffusion assays. The most straightforward way to test the mode of
            action is to purify the Gyrase and add it together with ATP to supercoiled plasmid DNA. Normally the Gyrase
            would relax the supercoiled DNA which could be detected on an agarose gel in a band shift. If the antibiotic
            inhibited the Gyrase the band shift wouldn’t be visible even after ATP addition. To answer question three,
            we wanted to test the aminocoumarin resistant GyrB variant from S.aureus in E.coli. The active complex is
            formed by two subunits, GyrA and GyrB. Since S.aureus is a dangerous organism, GyrA and GyrB from S.aureus
            were cloned into a plasmid. These plasmids can be transformed into E.coli and used as a model for testing
            the toxicity of diverse substances.
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Results</h1>
    </div>
    <div class="row marginBtm text-center">
        <div class="col-lg-12 text-center">
            In order to find a suitable concentration of clorobiocin for our test-system we performed a dilution
            series of clorobiocin using carbenicillin as a positive control and the respective solvents (MeOH, H2O)
            as negative control. The radius of the zone of inhibition (z.o.i.) was measured and plotted against the
            concentration and linear fitted. From this experiment we concluded our working concentration of
            clorobiocin (10µg/µL) for the establishment of the constructs explained in the introduction. iGEM Team
            Franconia 2017 did exactly the same experiment with Corynebacterium glutamicum, which seems to be very
            sensitive to clorobiocin.
            Our two genes, β-Lactamase and GyrB, are under control of L-rhamnose and L-arabinose dependent promoters
            respectively. In this way we reduce leaky expression and can start expression at a defined time point.
            We used Kanamycin as positive control, Carbenicillin was not suitable because the GyrB expression
            plasmid encodes a Carbenicillin resistance. As negative controls we used the respective solvents and
            pSB1C3-SHV (BBa_K2372004) and pSB1C3-pRha-RBS (BBa_K2372007) which do not express protein.
            Kanamycin always shows a z.o.i. between 4 and 5.5 mm. XL1blue should be resistant to Tetracycline (Fig.
            1). The z.o.i. might be a result of the small solubility in water resulting in a steep concentration
            gradient instead of a more homogenous, thus lower concentration.
            <br>
            <div class="marginBtm">
                <img class="center img-fluid d-block mx-auto" src="/static/img/2017/fig1.png" alt="Figure ">
                <i>Figure 1</i>
            </div>
            <br>
            The z.o.i. is drastically reduced in XL1blue samples but not that much in the TolC samples. TolC might
            not be a good expression host (Fig. 2).
            <div class="marginBtm">
                <img class="img-fluid d-block mx-auto" src="/static/img/2017/fig2.png" alt="Figure ">
                <i>Figure 2</i>
            </div>

            Nalidixic acid (NDX) is an inhibitor of GyrA, while clorobiocin targets the ATP binding site in GyrB.
            Therefore NDX can be used as a control. TolC are more sensitive to clorobiocin and NDX than XL1blue. The
            radius of the z.o.i. in the GyrB expressing samples is reduced in TolC samples. Because the initially
            used L-rhamnose concentration seemed too low we used different concentrations to find out the most
            suitable (Fig. 3).

            <div class="marginBtm">
                <img class="img-fluid d-block mx-auto" src="/static/img/2017/fig3.png" alt="Figure ">
                <i>Figure 3</i>
            </div>
            The size of the z.o.i. does not decrease directly with the increase in L-rhamnose concentration. TolC
            seem not expressing protein in response to L-rhamnose.
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase">Discussion</h1>
    </div>
    <div class="row marginBtm text-center">
        <div class="col-lg-12 text-center">
            The measurement of the zone of inhibition in the agar-diffusion assay in E.coli
            with
            clorobiocin is challenging because E.coli export aminocoumarins via the outer membrane protein TolC.
            Additionally, clorobiocin has a low solubility in the water-based LB-agar. The first problem is circumvented
            by
            using a TolC knockout variant, the second has to be kept in mind while interpreting the data. After all the
            test-system is working. We were able to make E.coli more resilient against clorobiocin by expressing GyrBR.
        </div>
    </div>
</div>

