
body {
    background-color: beige;
	margin:0;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0; 
}

h1{
    color: darkblue;
    text-align: left;
    margin-left: 210px;
}
svg {
    fill: #CD5C5C;

}
