        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .legend {
            display: inline-block;
        }
        .legend .circle{
            border-radius: 5px;
            display: inline-block;
            margin-left: 10px;
        }

        #info{
            position: absolute;
            display: inline-block;
            min-width: 150px;
            padding: 10px;
            /*border-radius: 3px;*/
            background: rgba(0,0,0,0.8);
            color: #fff;
        }
        text{
            fill: #000;
        }
