<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='assets/css/style_c3pred.css') }}" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
   <body>
     <header>
         <div class="navbar navbar-dark bg-dark box-shadow">
           <div class="header_box">
             <div class="logo">
                 <p class="aligncenter">
                 <img style="width:20%" src="{{url_for("static", filename="images/c3pred/T--Tuebingen--white_logo_animated.gif")}}"/>
                 <h1>C3Pred - CPP Activity Predictor</h1>
                 </p>
             </div>
           </div>
         </div>
     </header>
     <div class="container">
       <br>
       <div>
          <a href={{ url_for('c3pred') }} style="vertical-align:middle" class='ph-button ph-btn-blue'>&lt;&lt; Back</a>
       </div>
           <h2>Predict from iGEM part ID</h2>
   <form action="" method="post" novalidate>
       {{ form.hidden_tag() }}
       <p>
           {{ form.sequence.label }}<br>
           {{ form.sequence(class="form-control", placeholder="e.g. BBa_K380005") }}<br>
           {% for error in form.sequence.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
       </p>
      Examples: BBa_K380004, BBa_K2660000
       <p>{{ form.submit(class='ph-button ph-btn-blue') }}</p>
   </form>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p>Result</p>
        <ul>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        Input requirements:<br>
          <ul>
           <li>Sequence length: 4-40 amino acids</li>
           <li>Coding sequence (sequence is translated automatically)</li>
         </ul>
         <br>
         Frequently used CPPs: <br>
         (reference for activity values)
        <table class ="tg" >
          <tr>
            <th class="tg-lboi"><b>CPP</b></th>
            <th class="tg-lboi"><b>Acitvity</b></th>
          </tr>
          <tr>
            <td class="tg-lboi">TAT (YGRKKRRQRRR)</td>
            <td class="tg-lboi">45.9744</td>
          </tr>
          <tr>
            <td class="tg-lboi">Transportan (AGYLLGKINLKALAALAKKIL)</td>
            <td class="tg-lboi">100.6814</td>
          </tr>
          <tr>
            <td class="tg-lboi">Penetratin (RQIKIWFQNRRMKWKK)</td>
            <td class="tg-lboi">153.1619</td>
          </tr>
        </table>
        <br>
      </div>
      <footer class="text-muted bg-dark">
          <div class="container_f">
              <p>iGEM Team Tübingen 2019<br></p>
          </div>
      </footer>
   </body>
</html>
