<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Let´s take a cell-fie!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this website #TODO Minify in the end ;) -->
    <link href="static/css/igem_theme.css" rel="stylesheet">

    <!-- Custom styles for this template #TODO Minify in the end ;) -->
    <link href="static/css/templates/home.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
{% with redirect='/home' %}
{% include '/components/navigation.html' %}
{% endwith %}

<!-- Header: id - A possible customId for customstyles that can be added via css or so. text and subtext are the english versions of it -->
{% with id='home', text='Welcome To iGEM Tübingen', headline='If I were an enzyme I´d be DNA helicase so I could unzip your genes ;)' %}
{% include '/components/header.html' %}
{% endwith %}

<!-- <a style="border-radius: 1000px; align-content: center"
   class="btn btn-primary btn-xl texhot-uppercase js-scroll-trigger" href="#services">
    <i class="fas fa-angle-down"></i>
</a> -->

<!-- TODO CONTENT FOR LATEST NEWS HERE -->
<!-- The iGEM Tübingen News -->
{% include '/components/news.html' %}


<!-- Then project infos (skippable to that place ;)) -->
{% include '/components/current_project.html' %}

{% include '/components/footer.html' %}

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="static/js/igem_theme.min.js"></script>

</body>

</html>
