<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Human practice</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this website #TODO Minify in the end ;) -->
    <link href="static/css/igem_theme.css" rel="stylesheet">
    <link href="static/css/human_practice.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Navigation -->
{% with redirect='/human_practice' %}
{% include '/components/navigation.html' %}
{% endwith %}

<!-- Header: id - A possible customId for customstyles that can be added via css or so. text and subtext are the english versions of it -->
{% with id='human_practice', text=' ', headline='Human practice' %}
{% include '/components/header.html' %}
{% endwith %}


<section class="bg-light page-section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="collapse" aria-expanded="false" aria-controls="content1"
                   href="#content1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/human_practice/chileClass.png" alt="Chile Class">
                </a>
                <div class="portfolio-caption">
                    <h4>Chile class</h4>
                    <p class="text-muted">Class picture</p>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="collapse" aria-expanded="false" aria-controls="content3"
                   href="#content3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/human_practice/corona.png" alt="corona">
                </a>
                <div class="portfolio-caption">
                    <h4>Corona Infos</h4>
                    <p class="text-muted">Interviews</p>
                </div>
            </div>


            <!-- Content area 1-->
            <div class="col-md-12 collapse card" id="content1">
                {% include '/human_practice_content/chileContent.html' %}
            </div>

            <!-- #TODO TRANSLATE THIS -->
            <!-- Content area 3-->
            <div class="col-md-12 collapse card" id="content3">
                {% include '/human_practice_content/interviewKremsner.html' %}
            </div>
        </div>
</section>

{% include '/components/footer.html' %}

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="static/js/igem_theme.min.js"></script>

</body>

</html>
