<!DOCTYPE HTML>
<!--
	menu banner
-->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('about_igem_teamtuebingen') }}">{{ _('Team Members - About iGEM') }}</a></li>
            <li><a href="{{ url_for('project_2019') }}">{{ _('Project 2019 - GLP.exe') }}</a></li>
            <li><a href="{{ url_for('get_involved') }}">{{ _('Get involved') }}</a></li>
            <li><a href="{{ url_for('human_practices') }}">{{ _('Human Practice') }}</a>
            <li><a href="{{ url_for('history') }}">{{ _('History') }}</a></li>
            <li><a href="{{ url_for('software') }}">{{ _('Bioinformatics Software') }}</a></li>
            <li><a href="{{ url_for('gallery') }}">{{ _('Gallery') }}</a></li>
            <li><a href="{{ url_for('sponsors') }}">{{ _('Sponsors') }}</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>
