

<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about_igem_teamtuebingen') }}">{{ _('About iGEM and Team Tübingen') }}</a></li>
            <li><a href="{{ url_for('project_2019') }}">{{ _('Diabetes mellitus 2 therapy - project 2019') }}</a></li>
            <li><a href="{{ url_for('get_involved') }}">{{ _('Get involved') }}</a></li>
            <li><a href="{{ url_for('human_practices') }}">Human Practices</a>
            <li><a href="{{ url_for('history') }}">{{ _('History of iGEM Tübingen') }}</a></li>
            <li><a href="{{ url_for('software') }}">{{ _('Software by iGEM Tübingen') }}</a></li>
            <li><a href="{{ url_for('gallery') }}">{{ _('Gallery') }}</a></li>
            <li><a href="{{ url_for('sponsors') }}">{{ _('Sponsors') }}</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>
