<!DOCTYPE HTML>
<!--
	menu banner
-->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ url_for('index') }}">{{ _('iGEM Team Tübingen 2019 GLP.exe - Home') }}</a></li>
            <li><a href="{{ url_for('about_igem_teamtuebingen') }}">{{ _('iGem Tübingen team members - About iGem') }}</a></li>
            <li><a href="{{ url_for('project_2019') }}">{{ _('Project 2019') }}</a></li>
            <li><a href="{{ url_for('get_involved') }}">{{ _('iGem Tübingen Support') }}</a></li>
            <li><a href="{{ url_for('human_practices') }}">{{ _('Human Practice') }}</a>
            <li><a href="{{ url_for('history') }}">{{ _('History of genetic engineering projects') }}</a></li>
            <li><a href="{{ url_for('software') }}">{{ _('Synthetic biology software') }}</a></li>
            <li><a href="{{ url_for('gallery') }}">{{ _('Gallery') }}</a></li>
            <li><a href="{{ url_for('sponsors') }}">{{ _('iGem Tübingen Sponsors') }}</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>
