<!DOCTYPE html>

<!-- About -->
<!-- #TODO Find Images for those years and add them for the current placeholder images.-->
<!-- #TODO Idea: It would be so sexy if we had a DNA helix as a connection inbetween those yellow dots.-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Let´s take a cell-fie!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this website -->
    <link href="/static/css/igem_theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/templates/past_projects.css" rel="stylesheet">
</head>

<body id="page-top">
<!-- Navigation -->
{% with redirect='/past_projects' %}
{% include '/components/navigation.html' %}
{% endwith %}
<!-- Header -->

<!-- Header: id - A possible customId for customstyles that can be added via css or so. text and subtext are the english versions of it -->
{% if year == '2017' %}
    {% with id='past_projects_header', text='Development of a new antibiotic Test System', headline='Project 2017' %}
    {% include '/components/header.html' %}
    {% endwith %}
{% elif year == '2014' %}
    {% with id='past_projects_header', text='T-ECO - Tuebingen Erythrocyte Converter to 0', headline='Project 2014' %}
    {% include '/components/header.html' %}
    {% endwith %}
{% elif year == '2015' %}
    {% with id='past_projects_header', text='A Biosensor Memory Module: Cre Sensor', headline='Project 2015' %}
    {% include '/components/header.html' %}
    {% endwith %}
{% elif year == '2013' %}
    {% with id='past_projects_header', text='Yeast-based measurement system for endocrine disruptors in aquatic environments', headline='Project 2012/13' %}
    {% include '/components/header.html' %}
    {% endwith %}
{% else %}
    {% with id='past_projects_header', text='', headline='Timeline of projects' %}
    {% include '/components/header.html' %}
    {% endwith %}
{% endif %}


<section class="page-section bg-light" id="">
    <div class="container">
        {% include '/past_projects_templates/project_' + year + '.html' %}
    </div>
</section>

{% include '/components/footer.html' %}

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/igem_theme.min.js"></script>

</body>

</html>
