<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Let´s take a cell-fie!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template #TODO Minify in the end ;) -->
    <link href="static/css/igem_theme.css" rel="stylesheet">
    <link href="static/css/templates/sponsor.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Navigation -->
{% with redirect='/sponsor' %}
{% include '/components/navigation.html' %}
{% endwith %}

<!-- Header -->
{% with id='sponsor', text=' ', headline='iGEM Tübingen Sponsors' %}
{% include '/components/header.html' %}
{% endwith %}

<!-- Contact Content -- we could have sponsor icons here and link the websites of out sponsors ? Any ideas ?-->

<!-- Sponsors -->
<section class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Durch die großartige Unterstützung unserer Sponsoren war es uns bisher stets
                    möglich erfolgreich am iGEM Wettbewerb teilzunehmen. Sowohl durch finanzielle Unterstützung als auch
                    durch das Bereitstellen von Materialien haben unsere Sponsoren maßgeblich zu unserem Erfolg
                    beigetragen. Sie sind es, die es uns ermöglicht haben alleine ein professionelles Forschungsprojekt
                    durchzuführen, wodurch wir wichtige Fähigkeiten erhalten. Als von Studenten organisiertes Team,
                    verantwortlich für Organisation, Planung, Finanzierung, Vertretung und die Teilnahme an iGEM, wäre
                    uns dies sonst nicht möglich gewesen. Während wir den Weg für ein vielversprechendes Projekt ebnen,
                    können sich unsere Sponsoren mit hochmotivierten und talentierten Studenten austauschen. Wir sind
                    überaus dankbar für die Unterstützung unserer Förderer und freuen uns auf die Zusammenarbeit mit
                    Ihnen.
                </p>
                <p>Falls du in weiteren Daten und Sponsoreninformationen interessiert bist, kannst du</p>
                <!-- TODO -->
                <a href="/static/pdf/portfolio.pdf" download>
                    <img class="img-fluid d-block mx-auto" src="static/img/sponsors/portfolio.png"
                         alt="Preview of Portfolio">>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="static/img/sponsors/uniTuebingen.png"
                         alt="Logo Uni Tuebingen">
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
{% include '/components/footer.html' %}
<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<!--  <script src="js/jqBootstrapValidation.js"></script>-->
<!--  <script src="static/js/contact_me.js"></script>-->

<!-- Custom scripts for this template -->
<script src="static/js/igem_theme.min.js"></script>

</body>

</html>
