<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Let´s take a cell-fie!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template #TODO Minify in the end ;) -->
    <link href="static/css/igem_theme.css" rel="stylesheet">
    <link href="static/css/templates/team.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Navigation -->
{% with redirect='/team' %}
{% include '/components/navigation.html' %}
{% endwith %}

<!-- Header -->
{% with id='team', text=' ', headline='iGEM Tübingen team members' %}
{% include '/components/header.html' %}
{% endwith %}

<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 5em">
                    <img class="img-fluid d-block mx-auto" src="static/img/team/group_picture.jpg" alt="Group picture">
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/flo.jpg" alt="Florian Vögele">
                        <h4>Florian Vögele</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide1" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide1">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Evolution of Species</p>
                                        <p class="text-muted">Fun-Fact: I spend most of my free time and money on my
                                            Computer</p>
                                        <p class="text-muted">Team Position: Wetlab and Finances</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide1" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Aaron_Refisch.jpg"
                             alt="Aarón Alexander Refisch Ortegoza">
                        <h4>Aarón Alexander Refisch Ortegoza</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide2" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide2">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Cloning</p>
                                        <p class="text-muted">Fun-Fact: The initials of my full name almost result in my
                                            first name (Aarón Alexander Refisch Ortegoza = A A R O )
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Social Media, Human practices</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide2" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Anirudh.jpg"
                             alt="Anirudh Natarajan">
                        <h4>Anirudh Natarajan</h4>
                        <p class="text-muted">Molecular Cell Biology and Immunology</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide3" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide3">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Genome editing, CRISPR</p>
                                        <p class="text-muted">Fun-Fact: I have an unique tongue print and my stomach
                                            acid can dissolve metals. That makes me a
                                            superHUMAN
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Finance, Human Practices</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide3" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Caro_Jachmann.jpg"
                             alt="Caroline Jachmann">
                        <h4>Caroline Jachmann</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide4" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide4">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: the ‘falafel supreme’ in the
                                            Kichererbse (Tübingen)
                                        </p>
                                        <p class="text-muted">Fun-Fact: I am currently breeding sea monkeys (one of the
                                            most awesome science kits from Kosmos)

                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Drylab</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide4" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/David_Kessler.jpg"
                             alt="David Keßler">
                        <h4>David Keßler</h4>
                        <p class="text-muted">Biochemistry</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide5" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide5">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Penicillin
                                        </p>
                                        <p class="text-muted">Fun-Fact: I have never worked in the lab before deciding
                                            to study Biochemistry.
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab and Orga
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide5" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Elias_Schreiner.jpg"
                             alt="Elias Schreiner">
                        <h4>Elias Schreiner</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide6" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide6">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: You can eat the skin of a kiwi!
                                        </p>
                                        <p class="text-muted">Fun-Fact: I can dislocate my thumb
                                        </p>
                                        <p class="text-muted">Team Position: Web-Dev, Drylab
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide6" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Elisabeth_Schneider.jpg"
                             alt="Elisabeth Schneider">
                        <h4>Elisabeth Schneider</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide7" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide7">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: AlphaGo
                                        </p>
                                        <p class="text-muted">Fun-Fact: You will never catch me without my bottle of
                                            tea!
                                        </p>
                                        <p class="text-muted">Team Position: Drylab, Organization
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide7" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Famke.jpg"
                             alt="Bamke Fäuerle">
                        <h4>Bamke Fäuerle</h4>
                        <p class="text-muted">Nano-Science & Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide8" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide8">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Life is short, eat dessert first.
                                        </p>
                                        <p class="text-muted">Fun-Fact: I study two masters to avoid final decisions.
                                        </p>
                                        <p class="text-muted">Team Position: Advisor (Drylab, Finance)</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide8" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Jenny_Tamboli.jpg"
                             alt="Jenny Tamboli">
                        <h4>Jenny Tamboli</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide9" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide9">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Solved mystery of bermuda triangle,
                                            NGS, Magnetar (it’s scary).
                                        </p>
                                        <p class="text-muted">Fun-Fact: The Burrows-Wheeler transform, used in BWA and
                                            Bowtie, saves memory by transforming
                                            the DNA sequence data into a parallel dimension, meaning it ceases to exist
                                            in 4D space/time in this
                                            Universe.
                                        </p>
                                        <p class="text-muted">Team Position: Dry lab, PR</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide9" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Katja_Sievert.jpeg"
                             alt=" Katja Sievert">
                        <h4>Katja Sievert</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide10" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide10">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Fluorescent microscopy

                                        </p>
                                        <p class="text-muted">Fun-Fact: Once in Tübingen, another student from Germany
                                            asked me about my “great and accent-free” German because I had told this
                                            person that I’m originally from Kiel. Turns out, they thought that Kiel is
                                            in Denmark instead of northern Germany ;-)
                                        </p>
                                        <p class="text-muted">Team Position: Wet Lab, Human Practices, Social Media</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide10" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Lea_Vogt.jpg"
                             alt="Lea Vogt">
                        <h4>Lea Vogt</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide11" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide11">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Next Generation Sequencing
                                        </p>
                                        <p class="text-muted">Fun-Fact: I always try to eat last what I like the most.
                                            Challenging when pudding is layered „the wrong way“
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Finance
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide11" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Lukas_Heumos.jpg"
                             alt="Lukas Heumos">
                        <h4>Lukas Heumos</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide12" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide12">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Blackholes!
                                        </p>
                                        <p class="text-muted">Fun-Fact: I paid for my driver’s license with gaming.
                                        </p>
                                        <p class="text-muted">Team Position: Advisor
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide12" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Patrick_Schweizer.jpg"
                             alt="Patrick Schweizer">
                        <h4>Patrick Schweizer</h4>
                        <p class="text-muted">Biotechnology</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide13" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide13">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Electron microscopy !
                                        </p>
                                        <p class="text-muted">Fun-Fact: Studying biology can take you to very
                                            interesting places, such as 81° North or a human centrifuge.
                                        </p>
                                        <p class="text-muted">Team Position: Leader / Advisor
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide13" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Sophia_Gaupp.jpg"
                             alt="Sophia Gaupp">
                        <h4>Sophia Gaupp</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide14" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide14">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Building houses on the moon!
                                        </p>
                                        <p class="text-muted">Fun-Fact: I often pretend to drink fancy stuff when
                                            actually I just refill a fancy bottle with water.
                                            Proud to be swabian ;)
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Social Media
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide14" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Sophia_Krappen.jpg"
                             alt="Sophia Krappen">
                        <h4>Sophia Krappen</h4>
                        <p class="text-muted">Bioinformatics</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide15" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide15">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Travelling into the future is
                                            theoretically possible
                                        </p>
                                        <p class="text-muted">Fun-Fact: I have never coded before studying
                                            bioinformatics
                                        </p>
                                        <p class="text-muted">Team Position: Drylab, Web-Development
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide15" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/Bild_Isi.jpg"
                             alt="Isabel Ernst">
                        <h4>Isabel Ernst</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide17" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide17">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Penguins can dive to a depth of 550
                                            meters and hold their breath for up to 22
                                            minutes</p>
                                        <p class="text-muted">Fun-Fact: I already broke my nose three times (but it was
                                            all at the same day)
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Human practices</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide17" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- TODO img luiselotte -->
                        <h4>Luiselotte Rausch</h4>
                        <p class="text-muted">Nano-Science</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a data-toggle="collapse" data-target="#hide16" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide16">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Sloths can die accidentally by
                                            lowering their bodies‘ activity too much
                                        </p>
                                        <p class="text-muted">Fun-Fact: I speak seven languages
                                        </p>
                                        <p class="text-muted">Team Position: Wetlab, Finance/Human Practices
                                        </p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide16" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
</section>


<!-- Footer -->
{% include '/components/footer.html' %}


<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="static/js/igem_theme.min.js"></script>

</body>

</html>
