<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iGem Tübingen - Let´s take a cell-fie!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template #TODO Minify in the end ;) -->
    <link href="static/css/igem_theme.css" rel="stylesheet">
    <link href="static/css/templates/team.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Navigation -->
{% with redirect='/team' %}
{% include '/components/navigation.html' %}
{% endwith %}

<!-- Header -->
{% with id='team', text=' ', headline='iGEM Tübingen team members' %}
{% include '/components/header.html' %}
{% endwith %}

<!-- Team #TODO put in loads of pictures-->
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 5em">
                    <img class="img-fluid d-block mx-auto" src="static/img/team/group_picture.jpg" alt="">
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="static/img/team/flo.jpg" alt="">
                        <h4>Florian Vögele</h4>
                        <p class="text-muted">Molecular Medicine</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item" >
                                <a data-toggle="collapse" data-target="#hide1" aria-expanded="false" href="#">
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </li>
                            <div class="collapse container" id="hide1">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <p class="text-muted">Favourite Discovery: Evolution of Species</p>
                                        <p class="text-muted">Fun-Fact: I spend most of my free time and money on my
                                            Computer</p>
                                        <p class="text-muted">Team Position: Wetlab and Finances</p>
                                    </div>
                                </div>

                                <li class="list-inline-item">
                                    <a data-toggle="collapse" data-target="#hide1" aria-expanded="false" href="#">
                                        <i class="fas fa-sort-up"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-expand-arrows-alt"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- Footer -->
{% include '/components/footer.html' %}


<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="static/js/igem_theme.min.js"></script>

</body>

</html>
