<div>
    <div class="row text-center">
        <h1 class="section-heading text-uppercase">Experimenta</h1>
    </div>
    <!-- TODO add presentation here-->
    <div class="row text-center">
        <h3 class="section-subheading">Presentation</h3>
    </div>
    <div class="row text-center marginBtmSmall">
        <a href="/static/files/sample1_f.fq" download>
            <img class="img-fluid d-block mx-auto" src=""
                 alt="File 1">
        </a>
    </div>
    <div class="row text-center">
        <h3 class="section-subheading">Files</h3>
    </div>
    <div class="row text-center marginBtmSmall">
        <div class="col-lg-2 text-center">
            File 1
            <a href="/static/files/sample1_f.fq" download>
                <i class="fas fa-file-download fa-lg"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            File 2
            <a href="/static/files/sample1_r.fq" download>
                <i class="fas fa-file-download fa-lg"></i>
            </a>
        </div>
    </div>
</div>
</div>