<div>
    <div class="row">
        <h1 class="section-heading text-uppercase">Interview with Prof. Dr. Kremsner from UKT</h1>
        <h3 class="section-subheading">You are currently involved in three major vaccine studies. One that is a
            mRNA-based vaccine, another one that is based on the use of virus vectors, and a third one that uses
            virus-like particles.</h3>
        <div class="row text-center"><b>
            Could you explain the basic differences between the approaches to us a little more?

        </b></div>
        <div class="row text-center">
            The first CVnCoV vaccine study has been in the 1st clinical phase since June 18. It is a so-called
            mRNA-based vaccine. The sponsor is the Tübingen company Curevac. In contrast to conventional vaccines, in
            which the patient or the test subject is given the antigen for immunization, this vaccine injects mRNA (the
            building instructions for a virus protein), in this case for the virus’s spike protein. The mRNA then
            penetrates the cells and is translated by the cell's own translation machinery into a spike protein that the
            human body recognizes as foreign and then triggers an immune response. This reaction begins as soon as
            fragments of the S antigen are presented on the MHC complexes of the affected cells. The difficulty with
            mRNA-based vaccines is that the mRNA is a chemically unstable molecule that can in vivo be broken down by
            RNAsen. However, Curevac's research has managed to address these issues. At the end of the study, the
            subjects should s
        </div>
        <div class="row text-center">
            In autumn, we want to start another vaccine study with Danish colleagues. This is called COUGH-1 and has the
            EU as a financial sponsor. In this study, our work will be based on a previously researched malaria vaccine.
            At that time, we incorporated the malaria antigen, which is used for immunization, into virus-like
            particles. Now for nCov this will be done analogously, using the antigen of the corona virus. The study will
            begin with a small phase 1 that will be continued if promising results are shown. in accordance to the mRNA
            study, the blood concentrations of the nCov-specific antibodies will be examined fourteen days after the
            first and second vaccination. The third approach is based on MVA virus vectors in which the S antigen is
            incorporated.
        </div>
        <div class="row text-center"><b>
            Which of the approaches do you think is more promising?
        </b></div>
        <div class="row text-center">
            All of these approaches generally have a very high potential. Overall, we receive a large number of
            international requests for cooperation. Large, medium-sized, and small companies worldwide are currently
            trying to develop a vaccine. Globally, there are around two hundred vaccine programs right now, most of
            which are in preclinical studies until further notice. This means that these are still tested in a test tube
            or animals. There are about 30-40 serious programs at the moment, and 10-20 vaccine candidates that are
            likely to enter the final testing phase. Of course we try to work on the most promising approaches, granting
            us conceptual freedom in our research and testing. For examples, in the mRNA study we collaborated with
            Curevac in developing the clinical protocols.
        </div>
        <div class="row text-center"><b>Have you noticed a difference in working with other scientists since the
            pandemic has started? Did it bring all of you closer together or are you rather fighting in the search of an
            active compound?

        </b></div>
        <div class="row text-center">
            Especially in times like these we, as scientists, have to move closer together. At the same time we also
            have to work more ambitiously. We will not be able to succeed, if we all work individually. It usually takes
            10 or even 20 years before a possible vaccine is designed and approved for selling. Decreasing this time to
            one to two years is only possible in a very close and well-coordinated cooperation. This is due to the fact
            that despite the high pressure work, no reduction in the very high standards of development, security
            testing, and especially in the work of the ethics committee can be made. At the moment, many groups are
            working together in the university area. We are in close contact with colleagues from the University
            Hospitals in Ghent, Hanover and Munich when testing the Curevac vaccine. Curevac coordinates who takes which
            steps and when. But we are also currently in active contact with colleagues from Holland, Denmark, Finland
            and France.

        </div>
        <div class="row text-center">
            Especially with regard to the Curevac vaccine, the work of the groups involved interferes very closely. This
            is why, considering the central coordination by Curevac, it is more a friendly cooperation than a reckless
            conflict. However, you are of course also happy if, as in our case, you can work on the most promising
            projects. I am therefore very optimistic that we will find a vaccine soon. However, I also believe that the
            Curevac vaccine will not be the only one that will soon receive preliminary approval because, as I said,
            there are numerous companies and working groups that are currently in the running. But that's good, because
            it means that there will be a wide range of corona vaccines in the future, which can offer more effective
            protection against COVID-19 in all parts of the world than protective masks and hand hygiene currently do.

        </div>
        <div class="row text-center"><b>

            When do you think will the first Corona vaccine be available?
        </b></div>

        <div class="row text-center">
            The studies are currently running smoothly. Right now, we are in phase 1 of the drug trial which means that
            we are administering the drug in the lowest dose to 168 healthy human subjects for the first time. The aim
            is to find out whether the vaccine is safe and does not do any harm. What is pleasing about this study is
            that we are in the luxurious position of being able to choose our test subjects due to the massive excess of
            applications, which is not common in many studies. It is not yet possible to make any statements about the
            concrete results, but the study is running very rapidly, which is promising for a phase 1 study. In fact, we
            aim to get the first results in the next two months, so that we can move on to phase 2 and, if possible,
            before the beginning of the next year to phase 3. In the phase 2 tests, healthy 18 to 60 year olds will be
            vaccinated, as in the first phase, but risk groups will also be included. In the risk group, mainly, the
            over 65 year olds and also those with previous illnesses will be included. It is then to be examined whether
            the vaccine still has the desired effect and to determine the amount of the vaccine that needs to be
            administered in order for one person to build up an immunity. As of right now, the phase 3 study, aka the
            approval study, will very likely become a classic placebo-controlled, blinded, randomized, multicentre
            study, in which, in addition to the safety and tolerability of the vaccine, its effectiveness will also be
            tested for countries that were heavily affected by the virus. The extension to other countries is important
            because we can then test the vaccine in many different patient groups and later possibly even offer it
            worldwide.
        </div>
        <div class="row text-center">
            I believe that the Curevac vaccine will be approved by the end of next winter, mainly because of the joint
            efforts, and can then be administered to a broader population. In fact, many companies are already adjusting
            and increasing their current production of drugs and other vaccines, in order to be able to meet the demand
            in the following years.
        </div>
        <div class="row text-center"><b>

            Recently there were news that cured corona patients show a measurable decrease in neutralizing antibodies in
            the blood. This is seen as an indication that the permanently acquired immunity to the corona virus may
            decrease. Do you see the vaccine effort at risk?

        </b></div>

        <div class="row text-center">
            Of course, this is a phenomenon that still needs to be investigated, but the immune system and in particular
            the acquired immunity cannot simply be characterized by measuring the antibody concentration. The immune
            system is a very complex system in which cellular components such as lymphocytes play an important role. In
            order to evaluate the chances for the effectiveness of an active ingredient, one has to examine the dynamics
            of the entire immune system. There are other viral diseases in which immunity can be acquired that is not
            necessarily detectable by an increased antibody concentration. Therefore, despite these reports, I do not
            consider efforts to get a vaccine at risk.

        </div>
    </div>
    <div class="row text-center"><b>To name just a few, you are President of the CERMEL in Lambaréné Gabon, Chairman of
        the Board of the Comprehensive Infectious Disease Center in Tübingen and Director of the Institute for Tropical
        Medicine. How do you manage to combine all of these offices with an active scientific community?

    </b></div>

    <div class="row text-center">
        The secret of success at this point is that the content of the offices to which you turn should not diverge too
        much. Rather, everything should go in a similar or even the same direction. For example, I always deal with
        prevention, research, and teaching in the field of infectiology in my activities and offices. As a result, many
        of my activities are interlinked and various tasks go hand in hand. For example, at the Tübingen Institute, we
        have increasingly received aid deliveries from VGCARE, the Vietnamese German Center of Excellence in Medical
        Research in Hanoi, in which I also have a leading role, so it is not always the case that doubling the number of
        offices necessarily leads to a doubling of work. In fact, it would also appeal to me to chair a football club or
        literary society, but in the end it would steal too much of my time and energy because it were inconsistent with
        my other activities.
    </div>
    <div class="row text-center"><b>Teams of young students compete against each other at the iGEM competition. In
        contrast to us, you can look back on a very successful and long scientific career. If you had yourself in front
        of you as a student, what advice would you want to give him for his career as a scientist?
    </b></div>
    <div class="row text-center">
        The most important qualities in my experience are hard work, perseverance, and self-organization. I can remember
        how I always got up at six a.m. in my first semester to study as much as I could before the lectures started.
        This made it possible for me to spend my free time however I liked it. For example, I enjoyed going to the opera
        even when I was still a student. You won't be successful without discipline. But it is also important to
        specialize in what interests you most as early as possible in your studies. During my studies, I specialized in
        the field of infectiology as early as I could and worked on corresponding projects. This enabled me to gain
        experience as a young student and gain insight into current research, which helped me a lot for my future
        career.

    </div>
</div>
