<!DOCTYPE HTML>
<article>
    <a href="{{ url_for('about_igem_teamtuebingen') }}" class="image"><img
            src="{{ url_for('static', filename='images/team/team_all_cut.jpg') }}"
            alt="{{ _('iGEM Tübingen team members - About iGEM') }}"/></a>
    <h3 class="major">{{ _('iGEM Tübingen team members - About iGEM') }}</h3>
    <p>{{ _('Read about the iGEM competition and get to know our team!') }}</p>
    <a href="{{ url_for('about_igem_teamtuebingen') }}" class="special">{{ _('Learn more') }}</a>
</article>
