<!DOCTYPE HTML>
<article>
    <a href="{{ url_for('history') }}" class="image"><img
            src="{{ url_for('static', filename='images/subsite_icons/library_cut.jpg') }}"
            alt="{{ _('History of genetic engineering projects - iGEM Tübingen') }}"/></a>
    <h3 class="major">{{ _('History of iGEM Tübingen Projects') }}</h3>
    <p>{{ _('Team Tübingen has been participating in iGEM since 2012. Take a look at our past projects and
    accomplishments.') }}</p>
    <a href="{{ url_for('history') }}" class="special">{{ _('Learn more')}}</a>
</article>
