<!DOCTYPE HTML>
<article>
    <a href="{{ url_for('project_2019') }}" class="image"><img
            src="{{ url_for('static', filename='images/team/team_all_cut.jpg') }}"
            alt="{{ _('Diabetes mellitus 2 therapy - project 2019') }}"/></a>
    <h3 class="major">{{ _('Diabetes mellitus 2 therapy - project 2019') }}</h3>
    <p>{{ _('The aim of the project 2019 is to generate a probiotic for the therapy of Type II Diabetes
Mellitus, based on a plasmid chassis incorporating a Cas3 self-kill mechanism to prevent the
spread of GMOs in the environment.') }}</p>
    <a href="{{ url_for('project_2019') }}" class="special">{{ _('Learn more')}}</a>
</article>
