<!DOCTYPE HTML>
<article>
    <a href="{{ url_for('software') }}" class="image"><img
            src="{{ url_for('static', filename='images/subsite_icons/software_cut.jpg') }}"
            alt="{{ _('Synthetic biology software - iGem Tübingen') }}"/></a>
    <h3 class="major">{{ _('Bioinformatics software') }}</h3>
    <p>{{ _('Throughout our participations in iGEM several software tools have been developed. Read more
    about them and find download instructions here.') }}</p>
    <a href="{{ url_for('software') }}" class="special">{{ _('Learn more')}}</a>
</article>
