<!DOCTYPE HTML>
<article>
    <a href="{{ url_for('sponsors') }}" class="image"><img
            src="{{ url_for('static', filename='images/subsite_icons/sponsors_2_cut.jpg') }}"
            alt="{{ _('iGEM Tübingen Sponsors') }}"/></a>
    <h3 class="major">{{ _('iGEM Tübingen Sponsors') }}</h3>
    <p>{{ _('A project as ambitious as iGEM cannot be realized without the generous help of our
        sponsors.') }}</p>
    <a href="{{ url_for('sponsors') }}" class="special">{{ _('Learn more')}}</a>
</article>
